@import '../../variables.scss';

.profile-page {
  width: 80%;
  margin: 7vh 10%;
  height: 93vh;
  h2 {
    margin-top: 20rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.02em;
    font-variant: small-caps;
    text-transform: uppercase;
    background: linear-gradient(90deg, #f84646 0%, #fd7a42 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &::before {
      content: '';
      display: block;
      width: 28%;
      height: 2px;
      margin-bottom: 1rem;
      background: $gradient;
    }
  }
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 4rem;
  h3 {
    margin-top: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    font-variant: small-caps;
    text-transform: uppercase;
    background: linear-gradient(90deg, #f84646 0%, #fd7a42 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &::after {
      content: '';
      display: block;
      width: 40%;
      height: 2px;
      margin-top: 1rem;
      background: $gradient;
    }
  }
  & > .profile-block-left, .profile-block-center, .profile-block-right {
    padding: 3rem;
    width: 20rem;
    margin: 0 .5rem;
  }
  & > .profile-block-center, .profile-block-right {
    background: #FFFFFF;
    box-shadow: 0px 6px 16px rgba(249, 72, 70, 0.15);
    border-radius: 30px;
  }
  
  .profile-block-left {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > img {
      width: 220px;
      border-radius: 100%;
      border: 3px solid #FFFFFF;
      box-shadow: 0px 6px 16px rgba(249, 71, 71, 0.25);
    }
    & > .plus-block {
      position: absolute;
      background: $gradient;
      width: 3rem;
      height: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      border: 2px solid #FFFFFF;
      bottom: 60px;
      right: 110px;
      cursor: pointer;
      & > img {
        width: 2rem;
      }
    }
  }
  
  .profile-block-center {
    h4 {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.02em;
      font-variant: small-caps;
      color: rgba(37, 37, 37, 0.8);
      text-transform: uppercase;
      & > span {
        color: #A4A4A4;
        font-weight: 300;
      }
    }
  }
  .profile-block-right {
    form {
      display: flex;
      flex-direction: column;
      & > input {
        margin-top: 1.5rem;
        border: 1px solid #a4a4a4;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 0.6rem;
        &:first-child {
          margin-top: 0;
        }
      }
      button {
        width: max-content;
        margin: 1.5rem auto;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        & > h4 {
          padding: .5rem;
        }
      }
    }
  }
}