.projects-page {
  margin: 8rem 5%;
  & > .projects-filter {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    & > select {
      appearance: none;
      -webkit-appearance: none;

      background: #ffffff;
      border: 1px solid #a4a4a4;
      border-radius: 4px;
      background-image: url('../../img/arrow-down.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-attachment: unset;
    }
  }
}
